body{
    text-align: center;
}

.body{
    height: 100vh;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.modeBtn{
    padding: 9px 15px;
    border-radius: 17px;
    font-size: 17px;
    background-color: black;
    color: white;
    font-weight:700;
    border: 1px solid black;
}

.questionBox{
    background-color: #FFC794;
    padding: 50px;
    margin:0% 23%;
    border-radius: 20px;

}

.option{
    border: 0px;
    margin: 10px;
    padding: 7px 10px;
    border-radius: 10px;
    background-color: aliceblue; 
    cursor: pointer;
}
    .option:hover{
        background-color: #a492eb;
    
        transition:450ms;
    }

.highlightBox{
    display: flex;
    justify-content: space-around;
}

.highlight,.removehighlight{
    text-align: center;
    padding: 7px 10px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 17px;
    border: 1px solid black;
}
   
.highlight{
    background-color: #FE4A4A;
}
.removehighlight{
    background-color: #6078F1 ;
}

.restart{
    background-color: #BB8DDF;
    padding: 8px 15px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 25px;
}
    